/*Display property - change the display of the element

inline - consuming the width of the content; examples:  img and span;
block - consuming the full width of the page, thus creating line space for the next element; ex. div, and text blocks
inline-block - works as inline element for its sibling but block elements outside its parent element; (this needs to be set)
none - (need to specify) this works to hide the element from the website. the element will not be shown visually*/

#div-1{
	background-color: green;

}
#span-1{
	background-color: purple;
	display: none;
}
#span-2{
	background-color: red;
	display: none;
}
#div-2{
	background-color: pink;
	display: inline-block;
}
#img{
	width:  250px;
	height: 250px;
	display: inline-block;
}

#p-1{
	background-color: #87cefa;
}

#p-2{
	background-color: rgb(255, 105, 180);
	width: 60%;
}
#p-3{
	background-color: yellow;
	width: 40%;
}

#span-sample{
	width: 60%;
	background-color: gray;
}
.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
}

.img-float{
	width: 250px;
	height: 250px;
	float: left;
}

.box{
	background-color: red;
	border:  1px solid black;
}


/*lesson samples on measurements*/

.fifty-percent{
	width: 50%;
}

.one-hundred-pixels{
	width:  100%;
}

.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}
.fifty-vw{
	width: 50vw;
}
.twenty-five-vh{
	height: 25vh;
}

.one-rem{
	font-size: 1rem;
}
.one-em{
	font-size: 1em;
}
.two-rem{
	font-size: 2rem;
}
.two-em{
	font-size: 2em;
}

.two-hundred-percent{
	font-size: 200%;
}

.background{
	min-height: 100vh;
	/*background-color: gray;*/
	/*The background image outsourced in the internet through the use of url() value*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 150%;
	/*specify the position of the background image relative to the HTML element*/
	background-position: center top;
	/*background-attachment - is used to set whether a background image scrolls with the rest of the page or fixed*/
	/*background-attachment: scroll or fixed;*/
	background-attachment: scroll;
}
.title{
	color: white;
	text-align: center;
	font-size: 5rem;
	/*get rid of space around the elenent*/
	margin: 0;
	line-height: 35 rem;
}
.container-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

/*CSS POSITIONING

Static - default position for evert element:  this follows the normal flow of the element

relative - although it is still following the normal flow, it is affected by the left, right, and top measurements

absolute - positioned elative to its parent elements. The elemenet is removed fro the normal document flow. The other elements will behave as if the element is not in the document, no space is created for the element

fixed - similar to absolute in terms of being removed from the normal flow. it is not affected by any parent element, and instead it is based on the element itself.

sticky - combination of relative and fixed*/

.child-one{
	background-color: gray;
	padding: 10px;
}
.child-two{
	background-color: yellow;
	padding: 10px;
	/*position:  static - is not affected by left, bottom, top or right measurements*/
	/*position:  relative - normal flow; is affected by the left, bottom, or top measuremet*/
	/*position:  absolute - the element is positioned relative to its closest positioned ancestor. That means that the parent element has to have a position value other than position:  static*/
	/*position: sticky */
	position:  sticky;
	top: 10px;
	
	
}
.child-three{
	background-color: gray;
	padding: 10px;
}
.parent-element{
	background-color: blue;
	padding: 10px;
	position: relative;
	height: 800vh;
	/*position: relative; - needed for the abosulte element*/
}
/*html{
	height: 800vh;
	} */

.container{
	position: relative;
}
.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	width 30px;
}

.gray-box{
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60x;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box{
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
}