*{
	margin: 0;
	padding: 0;
	
}

body{
	font-family: "open sans", sans-serif;
}

nav{
	padding: .8rem;
	padding-bottom: 2rem;
	/*margin-bottom: 2rem;*/
	border-bottom: 1px solid gray;
	list-style-type: none;
	background-color: white;
	display: fixed;
}
nav .nav, nav .nav-logo{
	margin: 2rem;

	/* li are naturally block */
	display: inline;

}
.nav-logo img{
	float: left;
	vertical-align: bottom;
	padding-top: 10px;
	}
nav .right-nav{
	text-align: right;
	vertical-align: top;
}
.tuitt-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	border-width: 0px;
	font-size: 1rem;
	padding: 1rem;
}
#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 50vh;
	background-repeat: no-repeat;
	background-size: 100%;
	/*specify the position of the background image relative to the HTML element*/
	background-position: center;
	/*background-attachment - is used to set whether a background image scrolls with the rest of the page or fixed*/
	/*background-attachment: scroll or fixed;*/
	background-attachment: scroll;
	
}

.title{
	color: white;
	text-align: right;
	font-size: 2rem;
	/*get rid of space around the elenent*/
	margin-right: 5rem;
	line-height: 35 rem;
	padding-top: 50px;
}
.container{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;
	width: 100vw;

}
.subtitle{
	/*color: white;
	text-align: right;
	font-size: 16px;
	/*get rid of space around the elenent*/
	/*margin-right: 5rem;
	line-height: 35 rem;
	max-width: 30%;
	text-align: right;
	position: relative;*/


	color: white;
	text-align: right;
	font-size: 16px;
	/*get rid of space around the elenent*/
	margin-left: auto;
	line-height: 35 rem;
	text-indent: 35%;
	width: 50%;
	margin-right: 5rem;
	letter-spacing: 1.5px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.front-bg{
	text-align: right;
}

.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	border-width: 0px;
	font-size: 1rem;
	padding: 1rem;
	margin-right: 5rem;
	margin-top: 50px;
}
.intro{
	width: 100%vw;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	
	
}

.title-2{
	padding-top: 25px;
	padding-bottom: 25px;
}
.intro-description{
	display: block;
	margin-left:  10rem;
	margin-right: 10rem;
	line-height: 25px;
}